<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <a class="navbar-brand zoom" routerLink="/">{{appTitle}}</a>
  <button (click)="collapsed = !collapsed" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div (window:resize)="collapsed = true" [class.collapse]="collapsed" class="collapse navbar-collapse"
       id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ng-template [ngIf]="user && user.role == UserRole.ROLE_ADMIN">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/clients">Clients</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/devices">Devices</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/sensors">Sensors</a>
        </li>
      </ng-template>
      <ng-template [ngIf]="user && user.role == UserRole.ROLE_CLIENT">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/consumption">My consumption</a>
        </li>
      </ng-template>
    </ul>

    <ul class="navbar-nav">
      <li *ngIf="isLoggedIn; else notLoggedIn" class="nav-item" display="dynamic" ngbDropdown placement="bottom-right">
        <a class="nav-link" id="navbarDropdown" ngbDropdownToggle role="button" tabindex="0">
          <fa-icon [icon]="faUser"></fa-icon>&nbsp;
          <span>{{user?.username}}</span>
        </a>
        <div aria-labelledby="navbarDropdown" class="dropdown-menu"
             ngbDropdownMenu>
          <a (click)="onLogout()" ngbDropdownItem>Logout</a>
        </div>
      </li>
      <ng-template #notLoggedIn>
        <li class="nav-item">
          <a (click)="onLogin()" class="btn btn-light">Login</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
