<div class="form-group">
  <label for="day">Day:</label>
  <div class="input-group">
    <input #dp="ngbDatepicker"
           [(ngModel)]="day" class="form-control"
           formControlName="birthDate"
           id="day" name="day" ngbDatepicker placeholder="yyyy-mm-dd">
    <div class="input-group-append">
      <button (click)="dp.toggle()" class="btn btn-outline-secondary " type="button">
        <fa-icon [icon]="faCalendar"></fa-icon>&nbsp;
      </button>
    </div>
  </div>
</div>

<!--<canvas baseChart-->
<!--        [datasets]="barChartData"-->
<!--        [labels]="barChartLabels"-->
<!--        [options]="barChartOptions"-->
<!--        [plugins]="barChartPlugins"-->
<!--        [legend]="barChartLegend"-->
<!--        [chartType]="barChartType">-->
<!--</canvas>-->

<div class="row">
  <div *ngFor="let consumption of consumptions" class="col-sm-12 my-2">
    <div class="card">
      <h5 class="card-header">{{consumption.timestamp | date}}</h5>
      <div class="card-body">
        <!--        <p class="card-title">Energy consumption: {{device.currentEnergyConsumption || "no data"}}</p>-->
        <a class="card-text">{{consumption.consumption}}</a>
      </div>
      <!--        <div class="card-footer text-muted">-->
      <!--          <small>asd</small>-->
      <!--        </div>-->
    </div>

  </div>
  <div *ngIf="consumptions.length == 0" class="col-sm-12 my-2">
    <p>No consumption</p>
  </div>
</div>
