<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Birth date</th>
    <th scope="col">Address</th>
    <th scope="col">Options</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of rows">
    <th scope="row">{{ row.nr }}</th>
    <td>{{ row.client.name }}</td>
    <td>{{ row.client.birthDate | date}}</td>
    <td>{{ row.client.address }}</td>
    <td>
      <button (click)="onEdit(row.client)" [disabled]="optionsDisabled" class="btn btn-primary mx-2">
        <fa-icon [icon]="faPen"></fa-icon>
      </button>
      <button (click)="onDelete(row.client)" [disabled]="optionsDisabled" class="btn btn-outline-danger">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination (pageChange)="refreshTable()" [(page)]="page" [collectionSize]="collectionSize"
                  [pageSize]="pageSize">
  </ngb-pagination>

  <select (ngModelChange)="refreshTable()" [(ngModel)]="pageSize" class="custom-select" style="width: auto">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
