<button (click)="onCreate()" class="btn float bg-success">
  <fa-icon [icon]="faPlus" class="my-float"></fa-icon>
</button>

<app-sensor-edit (editSubmit)="onEditSubmit($event)" [(isOpen)]="openEditModal" [(loading)]="loading"
                 [error]="formError" [sensor]="sensorToEdit"></app-sensor-edit>
<app-sensor-create (createSubmit)="onCreateSubmit($event)" [(isOpen)]="openCreateModal" [(loading)]="loading"
                   [error]="formError"></app-sensor-create>
<app-sensor-device (remove)="onDeviceRemove($event)" (replace)="onDeviceReplace($event)" [(isOpen)]="openOwnerModal"
                   [(loading)]="loading" [error]="formError" [sensor]="sensorToEditDevice"></app-sensor-device>

<app-sensor-table (delete)="onDelete($event)" (devicePressed)="onDevicePressed($event)" (edit)="onEdit($event)"
                  *ngIf="sensors$ | async as sensors" [optionsDisabled]="loading"
                  [sensors]="sensors"></app-sensor-table>
