<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit client</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="name">Name</label>
        <input [ngClass]="{ 'is-invalid': f.name.errors }" class="form-control" formControlName="name"
               id="name" placeholder="Name"
               type="text">
        <div *ngIf="f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div> <!-- form-group// -->

      <div class="form-group">
        <label for="address">Address</label>
        <input [ngClass]="{ 'is-invalid': f.address.errors }" class="form-control" formControlName="address"
               id="address" placeholder="Address"
               type="text">
        <div *ngIf="f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
      </div> <!-- form-group// -->
      <div class="form-group">
        <label for="birthDate">Date of birth</label>
        <div class="input-group">
          <input #dp="ngbDatepicker"
                 [ngClass]="{ 'is-invalid': f.birthDate.errors }" class="form-control" formControlName="birthDate"
                 id="birthDate"
                 name="birthDate" ngbDatepicker placeholder="yyyy-mm-dd">
          <div class="input-group-append">
            <button (click)="dp.toggle()" class="btn btn-outline-secondary " type="button">
              <fa-icon [icon]="faCalendar"></fa-icon>&nbsp;
            </button>
          </div>
          <div *ngIf="f.birthDate.errors" class="invalid-feedback">
            <div *ngIf="f.birthDate.errors.required">Birth date is required</div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="submitPressed()" [disabled]="loading" class="btn btn-outline-dark" type="button">Save</button>
  </div>
</ng-template>
