<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Device owner</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <label for="owner">The owner of the device "{{device.description}}" is: </label>

    <ng-select [(ngModel)]="selectedOwnerId" id="owner">
      <ng-option *ngFor="let client of clients" [value]="client.id">{{client.name}}</ng-option>
    </ng-select>

  </div>
  <div class="modal-footer">
    <button (click)="replacePressed()" [disabled]="loading" class="btn btn-outline-secondary" type="button">Change
    </button>
    <button (click)="removePressed()" [disabled]="loading" class="btn btn-outline-danger" type="button">Remove</button>
  </div>
</ng-template>
