<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Description</th>
    <th scope="col">Address</th>
    <th scope="col">Max consumption</th>
    <th scope="col">Base consumption</th>
<!--    <th scope="col">Current consumption</th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of rows">
    <th scope="row">{{ row.nr }}</th>
    <td>{{ row.device.description }}</td>
    <td>{{ row.device.address}}</td>
    <td>{{ row.device.maxEnergyConsumption }} kWh</td>
    <td>{{ row.device.baselineEnergyConsumption }} kWh</td>
    <!--    <td>{{ row.device.currentEnergyConsumption || "No data" }} <span *ngIf="row.device.currentEnergyConsumption">kWh</span></td>-->
    <td>
      <button (click)="onOwnerPressed(row.device)" [disabled]="optionsDisabled" class="btn btn-secondary mx-2">
        Owner
      </button>
      <button (click)="onEdit(row.device)" [disabled]="optionsDisabled" class="btn btn-primary mx-2">
        <fa-icon [icon]="faPen"></fa-icon>
      </button>
      <button (click)="onDelete(row.device)" [disabled]="optionsDisabled" class="btn btn-outline-danger">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination (pageChange)="refreshTable()" [(page)]="page" [collectionSize]="collectionSize"
                  [pageSize]="pageSize">
  </ngb-pagination>

  <select (ngModelChange)="refreshTable()" [(ngModel)]="pageSize" class="custom-select" style="width: auto">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
